#booklet.row
  .col-md-3{:style => "width: 280px; float: left; padding: 0px;"}
    #logo_container
      .header_logo
        = image_tag("header/logo.png", :alt => "logo Secubat", :width => 260)
      .images_hover
        = image_tag("lignes-de-vie/lignes-de-vie_01.jpg", :alt => "Secubat")
        = image_tag("garde-corps/garde-corps_01.jpg", :alt => "Secubat")
        = image_tag("ancrages/ancrages_03.jpg", :alt => "Secubat")
        = image_tag("surmesure/solaire.jpg", :alt => "Secubat")
  .col-md-9{:style => "width: 425px; float: left; margin: 0px;"}
    .row
      .infos.col-md-12.text-center{:style => "padding: 0px;"}
        %h4
          = "Une Entreprise à la hauteur, en toute Sécurité..."
        = "SECURISATION - TRAVAUX EN HAUTEUR / E.U.O."
        %br
        = "Centre d'affaires - 6ème étage"
        %br
        = "Tour Europa - Bd de l'Europe - 94320 THIAIS"
        %br
        = "06 09 15 09 78 - "
        %a{:href => "mailto:michel.beaudenon@secubat.com"}
          = "michel.beaudenon@secubat.com"
    .row
      .col-md-12.texts{:style => "padding: 0px;"}
        %p
          = "Notre entreprise est experte dans la sécurisation des travaux en hauteur pour tous types de configuration, "
          = "à l'intérieur comme à l'extérieur, prévenant de tout risque de chute. Nos domaines de compétences sont:"
        %p
          %b= "Les lignes de vie"
          = "sont destinées à une mise en sécurité individuelle et permanente, suivant la norme EN 795 classe C,"
          = "pour se déplacer sans contrainte avec un E.P.I."
        %p
          = "Plusieurs configurations sont possibles, qu'elles soient simple ou double cables (via un coulisseau) : "
          = "horizontale avec plusieurs virages sans se décrocher, verticale ou même hélicoïdale"

        %p
          %b= "Les garde-corps"
          = "sont destinés à une mise en sécurité collective permanente suivant la norme EN 14122-3. "
          = "Ils peuvent être en acier galvanisé, en aluminium, en inox et post-laqués RAL au choix."
        %p
          = "Fixés mécaniquement, chimiquement ou encore en auto-portant, différents types existent, "
          = "suivant l'esthétique recherchée : droits, inclinés, cintrés ou bien encore rabattables"

        %p
          %b="Les points d'ancrages"
          = "fixes proposent une alternative pour des configurations spécifiques et restent une solution plus économique, "
          = "suivant la norme EN 795 classe A1."

        %p
          = "Les cas d'utilisation sont multiples : intérieur comme extérieur, plan horizontal, vertical ou incliné, "
          = " environnement difficile d'accès ou encore pour apporter une solution discrète dans un soucis d'esthétique."

        %p
          %b= "Les échelles"
          = "garantissent un accès optimal aux dispositifs de sécurité déjà mis en place. "
          = "En aluminium ou en fibre de verre, elles sont conformes à la norme en vigueur."
        %p
          = "Les configurations possibles sont une échelle simple, inférieur à 2.50 m avec condamnation murale "
          = "ou une échelle crinoline, supérieur à 2.50 m avec trappe d'accès"

        %p
          %b="Les travaux plus spécifiques"
          = "sont réalisés à la demande :"
          %ul
            %li= "passerelles de franchissement d'obstacles"
            %li= "planchers caillebotis"
            %li= "filets inox anti-évasion"
            %li= "contrats de maintenance de nos installations"
            %li= "contrats d'entretien de toitures"
        %p
          = "Pour un meilleur gage de qualité, nous proposons pour nos lignes de vie et nos ancrages,"
          = "des vérifications réalisées par le bureau de contrôle VERITAS."
