.container
  .row
    .col-md-12.text-center
      = "Copyright © SECUBAT #{Date.current.year}"
      \|
      = link_to root_path(:format => "pdf"), :id => :pdf_link do
        = "Version PDF"
      \|
      = link_to index_path(:format => "pdf"), :id => :pdf_link do
        = "Version PDF"