#logo_container.hidden-sm.hidden-xs
  = link_to root_path do
    .header_logo
      = image_tag("header/logo.png", :alt => "logo Secubat", :width => 230)
    .images_hover
      = image_tag("lignes-de-vie/lignes-de-vie_01.jpg", :alt => "Secubat")
      = image_tag("garde-corps/garde-corps_01.jpg", :alt => "Secubat")
      = image_tag("ancrages/ancrages_03.jpg", :alt => "Secubat")
      = image_tag("surmesure/solaire.jpg", :alt => "Secubat")